[Unit]
Description=Schedule jomove auto-scrape twice daily

[Timer]
OnCalendar=*-*-* 09,18:00:00 Europe/London
RandomizedDelaySec=10min
Persistent=true
Unit=jomove-scrape.service

[Install]
WantedBy=timers.target
